<configuration scan="true" scanPeriod="60 seconds"> 
    <appender name="CONSOLE1" class="ch.qos.logback.core.ConsoleAppender"> 
        <layout class="ch.qos.logback.classic.PatternLayout"> 
            <Pattern>%d %level %logger - %m%n</Pattern> 
        </layout> 
    </appender> 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <!-- Support multiple-JVM writing to the same log file -->
	    <prudent>true</prudent>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>../logs/sigtran/beepcall%d{yyyy-MM-dd}.log</fileNamePattern>
	      <!--<maxHistory>30</maxHistory> -->
	    </rollingPolicy>
	    <encoder>
	      <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
	    </encoder>
	</appender>
    <root level="DEBUG"> 
    	<appender-ref ref="CONSOLE1"/>
        <appender-ref ref="FILE"/> 
    </root> 
</configuration>